/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-dark-blue: hsl(230, 35%, 7%);
  --clr-primary-light-blue: hsl(231, 77%, 90%);
  --clr-primary-white: hsl(0, 0%, 100%);

  --ff-primary: sans-serif;
  --ff-headings: 'Bellefair';
  --ff-subheadings: 'Barlow Condensed';
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-blue-shadow: 0 5px 15px rgba(83, 104, 223, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --min-width: 375px;
  --fs-size-sm: 1.125rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-size-sm);
  transition: var(--transition);
  margin: 0 auto;
  height: 100vh;
}
.img {
  display: block;
  width: 100%;
}
.main {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-headings);
  color: var(--clr-primary-white);
}
h1 {
  font-size: 150px;
}
h2 {
  font-size: 100px;
}
h3 {
  font-size: 56px;
}
h4 {
  font-size: 32px;
}
h5 {
  color: var(--clr-primary-light-blue);
  font-size: 28px;
  letter-spacing: 4.75;
  text-transform: uppercase;
  font-family: var(--ff-subheadings);
}
.subheading1 {
  font-family: var(--ff-subheadings);
  font-size: 28px;
  color: var(--clr-primary-white);
  text-transform: uppercase;
}
.subheading2 {
  font-family: var(--ff-subheadings);
  font-size: 14px;
  letter-spacing: 2.35;
  color: var(--clr-primary-white);
}
.subheading3 {
  font-family: var(--ff-subheadings);
  font-size: 16px;
  letter-spacing: 2.7;
  color: var(--clr-primary-white);
}
p {
  margin-bottom: 1.25rem;
  font-family: var(--ff-subheadings);
  color: var(--clr-primary-white);
  letter-spacing: var(--spacing);
  line-height: 1.6rem;
}
.btn {
  background: var(--clr-primary-soft-blue);
  padding: 1.2rem 1.2rem;
  color: white;
  border-radius: var(--radius);
  border: transparent;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  box-shadow: var(--dark-blue-shadow);
  cursor: pointer;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 900px) {
  .section-center {
    width: 95vw;
  }
  .btn {
    padding: 1.2rem 1.5rem;
  }
}
/*
=============== 
Styles
===============
*/

/*
=============== 
Navbar
===============
*/

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-primary-dark-blue);
  padding: 2rem;
  max-width: var(--max-width);
}
.links-container {
  display: none;
}
.nav-toggle-btn {
  background: transparent;
  border: transparent;
  color: var(--clr-primary-white);
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  .sidebar {
    display: none;
  }
  .navbar-container {
    padding: 0;
  }
  .logo {
    margin-left: 2rem;
  }
  .links-container {
    display: grid;
  }
  .navbar-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    align-content: center;
    width: 70vw;
    height: 7rem;
    padding: 3rem;
    background: hsl(229, 15%, 14%);
  }
  .navbar-link {
    font-size: 20px;
    letter-spacing: 0.2rem;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
    transition: var(--transition);
    border-bottom: 4px solid transparent;
    line-height: 6.5rem;
  }
  .navbar-link-active {
    border-bottom: 3px solid hsl(0, 4%, 91%);
  }
  .navbar-link-number {
    display: none;
  }
  .navbar-link:hover {
    border-bottom: 3px solid hsl(0, 2%, 73%);
  }
  .nav-toggle-btn {
    display: none;
  }
}
@media screen and (min-width: 950px) {
  .navbar-links {
    width: 75vw;
    padding: 2rem;
  }
  .navbar-link-number {
    display: inline-block;
  }
  .navbar-link {
    font-size: 18px;
  }
  .navbar-line {
    border-bottom: 2px solid hsl(0, 1%, 20%);
    width: 15vw;
    margin-right: -2rem;
    z-index: 5;
  }
  .links-container {
    display: flex;
    align-items: center;
  }
  .navbar-links {
    column-gap: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .navbar-link {
    font-size: 16px;
    line-height: 4.8rem;
  }
  .navbar-links {
    width: 55vw;
    height: 5rem;
  }
  .navbar-line {
    width: 40vw;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70vw;
  background: rgba(33, 33, 39, 0.9);
  padding: 2rem;
  transition: var(--transition);
  transform: translate(-100%);
  z-index: -1;
}
.show-sidebar {
  transform: translate(0);
  z-index: 999;
}
.sidebar-links {
  position: relative;
  margin-top: 8rem;
}
.close-btn {
  position: absolute;
  top: 6%;
  right: 10%;
  background: transparent;
  border: transparent;
  font-size: 1.8rem;
  font-weight: 200;
  color: var(--clr-primary-white);
  cursor: pointer;
  margin-bottom: 3rem;
}
.sidebar-link {
  font-size: 18px;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
}

/*
=============== 
HomePage
===============
*/

.home-page-container {
  width: 100vw;
  height: 90vh;
  background: url('./assets/home/background-home-mobile.jpg') center/cover;
  display: grid;
  align-items: center;
  justify-items: center;
}
.explore-btn {
  /* position: relative; */
  font-family: var(--ff-primary);
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  border: transparent;
  cursor: pointer;
  transition: var(--transition);
  margin-bottom: 3rem;
  border: 2.2rem solid transparent;
}
.explore-btn:hover {
  border: 2.2rem solid var(--clr-primary-light-blue);
}
/* .explore-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  color: var(--clr-primary-light-blue);
  z-index: 10;
} */
.home-page-text-container {
  padding: 2rem;
  padding-top: 0;
}
.home-page-text-container p {
  color: var(--clr-primary-light-blue);
  text-align: center;
}
.home-page-text-container h2 {
  text-align: center;
}
.home-page-text-container h5 {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .home-page-container {
    background: url('./assets/home/background-home-tablet.jpg') center/cover;
  }
  .home-page-text-container {
    padding: 2rem 6rem;
  }
}
@media screen and (min-width: 950px) {
  .home-page-container {
    background: url('./assets/home/background-home-desktop.jpg') center/cover;
  }
  .home-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    padding: 4rem;
  }
  .home-page-text-container {
    padding: 0;
    width: 40vw;
  }
  .home-page-text-container p {
    text-align: left;
  }
  .home-page-text-container h2 {
    text-align: left;
  }
  .home-page-text-container h5 {
    text-align: left;
  }
  .explore-btn {
    margin-bottom: 0;
  }
}

/*
=============== 
DestinationPage
===============
*/

.destination-page-container {
  width: 100vw;
  /* height: 90vh; */
  background: url('./assets/destination/background-destination-mobile.jpg')
    center/cover;
}
@media screen and (min-width: 750px) {
  .destination-page-container {
    background: url('./assets/destination/background-destination-tablet.jpg')
      center/cover;
  }
}
@media screen and (min-width: 950px) {
  .destination-page-container {
    background: url('./assets/destination/background-destination-desktop.jpg')
      center/cover;
  }
}

/*
=============== 
CrewPage
===============
*/

.crew-page-container {
  width: 100vw;
  height: 90vh;
  background: url('./assets/crew/background-crew-mobile.jpg') center/cover;
}
@media screen and (min-width: 750px) {
  .crew-page-container {
    background: url('./assets/crew/background-crew-tablet.jpg') center/cover;
  }
}
@media screen and (min-width: 950px) {
  .crew-page-container {
    background: url('./assets/crew/background-crew-desktop.jpg') center/cover;
  }
}

/*
=============== 
TechnologyPage
===============
*/

.technology-page-container {
  width: 100vw;
  height: 90vh;
  background: url('./assets/technology/background-technology-mobile.jpg')
    center/cover;
}
@media screen and (min-width: 750px) {
  .technology-page-container {
    background: url('./assets/technology/background-technology-tablet.jpg')
      center/cover;
  }
}
@media screen and (min-width: 950px) {
  .technology-page-container {
    background: url('./assets/technology/background-technology-desktop.jpg')
      center/cover;
  }
}
