/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-dark-blue: hsl(230, 35%, 7%);
  --clr-primary-light-blue: hsl(231, 77%, 90%);
  --clr-primary-white: hsl(0, 0%, 100%);

  --ff-primary: sans-serif;
  --ff-headings: 'Bellefair';
  --ff-subheadings: 'Barlow Condensed';
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-blue-shadow: 0 5px 15px rgba(83, 104, 223, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1440px;
  --min-width: 375px;
  --fs-size-sm: 1.125rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-size-sm);
  transition: var(--transition);
  margin: 0 auto;
  height: 100vh;
}
.img {
  display: block;
  width: 100%;
}
.main {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-headings);
  color: var(--clr-primary-white);
}
h1 {
  font-size: 150px;
}
h2 {
  font-size: 100px;
}
h3 {
  font-size: 56px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 28px;
  letter-spacing: 4.75;
}
.subheading1 {
  font-family: var(--ff-subheadings);
  font-size: 28px;
  color: var(--clr-primary-white);
}
.subheading2 {
  font-family: var(--ff-subheadings);
  font-size: 14px;
  letter-spacing: 2.35;
  color: var(--clr-primary-white);
}
.subheading3 {
  font-family: var(--ff-subheadings);
  font-size: 16px;
  letter-spacing: 2.7;
  color: var(--clr-primary-white);
}
p {
  margin-bottom: 1.25rem;
  font-family: var(--ff-primary);
  color: var(--clr-primary-white);
}
.btn {
  background: var(--clr-primary-soft-blue);
  padding: 1.2rem 1.2rem;
  color: white;
  border-radius: var(--radius);
  border: transparent;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  box-shadow: var(--dark-blue-shadow);
  cursor: pointer;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 900px) {
  .section-center {
    width: 95vw;
  }
  .btn {
    padding: 1.2rem 1.5rem;
  }
}
/*
=============== 
Styles
===============
*/
